<div class="bg-col nav-style ">
    <nav class="navbar navbar-light justify-content-between">
      <a class="navbar-brand user-catalog btn-style">User Catalog</a>
        <button type="button" class="btn search-btn btn-style" >My Profile</button> 
      <a href="" target="_blank" routerLink="/add-new-user">
        <button type="button" class="btn  add-new-btn btn-style">Settings</button>
      </a>
      <a href="" target="_blank" routerLink="/bulk-import">
        <button type="button" class="btn  bulk-import-btn user-catalog-logout btn-style">Log out</button>
      </a>
    </nav>
  </div>