<div>
    <nav class="navbar navbar-light bg-light justify-content-between">
      <a class="navbar-brand">User Catalog</a>
      <form class="form-inline">
        <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
      </form>
      <a  href="" >
        <button type="button" class="btn btn-primary">Search</button> 
      </a>
      <a href="" target="_blank" routerLink="/add-new-user">
        <button type="button" class="btn btn-success">Add New User</button>
      </a>
      <a href="" target="_blank" routerLink="/bulk-import">
        <button type="button" class="btn btn-success">Bulk Import</button>
      </a>
      
    </nav>
  </div>