<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" />

<div class="container" >
<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title text-uppercase mb-0">Manage Users</h5>
            </div>
            <div class="table-responsive" >
                <table class="table no-wrap user-table mb-0">
                  <thead>
                    <tr>
                      <th scope="col" class="border-0 text-uppercase font-medium pl-4">S.N</th>
                      <th scope="col" class="border-0 text-uppercase font-medium">Name</th>
                      <th scope="col" class="border-0 text-uppercase font-medium">Email</th>
                      <th scope="col" class="border-0 text-uppercase font-medium">Phone</th>
                      <!-- <th scope="col" class="border-0 text-uppercase font-medium">Image</th> -->
                    </tr>
                  </thead>
                  <tbody >
                    <tr *ngFor="let user of allUserInfo| paginate: { itemsPerPage: count, currentPage: p };index as ind ">
                      <td class="pl-4">{{(p-1)*10+ind+1}}</td>
                      <td>
                          <h5 class="font-medium mb-0">{{user.firstName +' '+ user.lastName}}</h5>
                      </td>
                      <td>
                          <span class="font-medium mb-0">{{user.email}}</span><br>
                          
                      </td>
                      <td>
                        <span class="font-medium mb-0">{{user.phoneNumber}}</span>
                      </td>
                      <!-- <td>
                        <span class="font-medium mb-0">{{user.image}}</span>
                      </td> -->
                      <td>
                        <a  routerLink="/user-detail" target="_blank">
                            <button class="btn btn-dark" type="button" >Update User</button>
                        </a>
                      </td>
                      <td>
                        <a  routerLink="/user-detail" target="_blank">
                            <button class="btn btn-primary btn btn-danger" type="button" >Delete User</button>
                        </a>
                      </td>
                    </tr>
                  </tbody>
                </table>
            </div>
            <div class="text-center">
              <pagination-controls (pageChange)="p = $event"></pagination-controls>
            </div>
        </div>
    </div>
</div>
</div>

<router-outlet></router-outlet>