<div class="container">
  <div class="main-body">
    <div class="user-functionalities">
      <input
        [(ngModel)]="searchInput"
        class="form-control m-2 d-inline p-2 input-design search-style"
        type="search"
        placeholder="Instant search within in results"
        aria-label="Search"
      />
      <button type="button" class="btn add-new-btn m-2" (click)="onSearch()">
        Search
      </button>
      <button type="button" class="btn add-new-btn m-1">Add New User</button>
      <button
        type="button"
        class="btn bulk-import-btn m-1"
        routerLink="/bulk-import"
      >
        Bulk Import
      </button>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-lg-2 d-none d-lg-inline-block text-center" *ngFor="let heading of tableHeadingList">
          <h4>{{heading}}</h4>
        </div>
      </div>
      <div class="row row-sty pt-3" *ngFor="let user of allUserInfo">
        <div class="col-12 col-lg-2 ms-sm-2">
          <p class="font-xs d-inline d-lg-none font-fam">First Name:</p>
          <p class="detail ms-1 ms-lg-0  font-info d-lg-text-center">
            {{ user.firstName }}
          </p>
        </div>
        <div class="col-12 col-lg-2 ms-sm-2">
          <p class="font-xs d-inline d-lg-none font-fam">Last Name:</p>
          <p class="detail ms-lg-0 font-info d-lg-text-center">
            {{ user.lastName }}
          </p>
        </div>
        <div class="col-12 col-lg-2 ms-sm-2">
          <p class="font-xs d-inline d-lg-none font-fam">Email:</p>
          <p class="text-truncate detail ms-lg-0 font-info d-lg-text-center">
            {{ user.email }}
          </p>
        </div>
        <div class="col-12 col-lg-2 ms-sm-2">
          <p class="font-xs d-inline d-lg-none font-fam">Phone Number:</p>
          <p class="detail ms-lg-0 font-info d-lg-text-center">
            {{ user.phoneNumber }}
          </p>
        </div>
        <div class="col-12 col-lg-2 ms-sm-2">
          <p class="font-xs d-inline d-lg-none font-fam">image:</p>
          <p class="detail ms-lg-0 font-info text-lg-center">
            {{ user.image }}
          </p>
        </div>
        <div class="col-12 col-lg-1 d-lg-inline ms-sm-2 text-end me-3">
          <button class="d-sm-block btn action-btn">Actions</button>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="mt-5 text-center">
  <nav aria-label="Page navigation example">
    <ul class="pagination justify-content-center">
      <li class="page-item " [ngClass]="pageIndex<=1?'disabled':'' ">
        <a class="page-link"  (click)="prevBtn()"> Previous</a>
      </li>
      <li class="page-item"><a class="page-link" (click)="pageSearch(pageIndex)">{{pageIndex}}</a></li>
      <li class="page-item"><a class="page-link" (click)="pageSearch(pageIndex+1)">{{pageIndex+1}}</a></li>
      <li class="page-item"><a class="page-link" (click)="pageSearch(pageIndex+2)">{{pageIndex+2}}</a></li>
      <li class="page-item"><a class="page-link" (click)="pageSearch(pageIndex+3)">{{pageIndex+3}}</a></li>
      <li class="page-item"><a class="page-link" (click)="pageSearch(pageIndex+4)">{{pageIndex+4}}</a></li>
      <li class="page-item">
        <a class="page-link" (click)="nextBtn()">Next</a>
      </li>
    </ul>
  </nav>
</div>

<!-- <div class="mt-5 text-center ">
  <button class="btn btn-primary profile-button btn-pos " type="button" (click)="prevBtn()" [disabled]="pageNumber<=1">Prev</button>
  <button class="btn-pos" (click)="nextBtn()" *ngFor="let i of tempArr;index as a" [disabled]="a==(pageNumber-1)">{{a+1}}</button>
  <button class="btn btn-primary profile-button btn-pos" type="button"  (click)="nextBtn()">Next</button>
</div> -->
